<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripFund</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <% Object.keys(paths).forEach(function(route) { %>
            <a href="<%= paths[route] %>" class="<%= getCurrentPath() === paths[route] ? 'active' : '' %>"><%= route.charAt(0).toUpperCase() + route.slice(1) %></a>
        <% }); %>
    </nav>